
.container {padding: 0;}
.row {width: 100%;max-width: 1140px;min-width: 720px;margin: 0 auto;position: relative;overflow: hidden;}
.sixcol {margin-right: 3.%;float: left;min-height: 1px;}
.row .sixcol {width: 48.%;}
.row .twelvecol {width: 100%;float: left;}
.last {margin-right: 0px;}

/* Main Body Styling */


/* Text Styles */

a {color: #9966FF; text-decoration: none;}
a:hover {color: #000000;}
p {margin-bottom: 1.5em;font-weight: 300;}
h1 {font-weight: 300;font-size: 1.6em;border-bottom: 1px dashed #ccc;display: inline-block;margin: 10px 0;}
.label {color: #777;text-transform: uppercase;margin-left: 10px;font-size: 0.8em;margin-bottom: 5px;display: block;}

/* Navigation */


/* Mobile Grid Styles */

@media handheld, only screen and (max-width: 780px) {
body {font-size: 16px;-webkit-text-size-adjust: none;}
.row, body, .container {width: 100%;min-width: 0;margin-left: 0px;margin-right: 0px;padding-left: 0px;padding-right: 0px;}
.row .sixcol, .row .twelvecol {width: auto;float: none;margin-left: 0px;margin-right: 0px;}
}

/* 720px and below */

@media (max-width: 720px) {
.trigger, .activetrigger, .dropcontainer ul, .trigger_demo2, .activetrigger_demo2, .dropcontainer_demo2 ul {width: 100% !important;}
}