
	.desc {
		width: 650px;
		height: auto;
		display: inline-block;
		float: right;
	}

	.desc_text {
		padding: 10px;
	}

	label {
	    display: inline-block;
	    cursor: pointer;
	    position: relative;
	    padding-left: 25px;
	    margin-right: 15px;
	    font-size: 13px;
	    margin-bottom: 10px;
	    color: #FFF;
	    font-family: 'Tahoma'
	}

	label:before {
	    content:"";
	    display: inline-block;
	    width: 16px;
	    height: 16px;
	    margin-right: 10px;
	    position: absolute;
	    left: 0;
	    bottom: 1px;
	    background-color: #9966FF;
	    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
	    border-radius: 3px;
	}
	input[type=checkbox] {
	    display: none;
	}
	input[type=checkbox]:checked + label:before {
	    content:"\2713";
	    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	    font-size: 15px;
	    color: #FFF;
	    text-align: center;
	    line-height: 15px;
	}


	