#opentebe1 {
  padding: 20px 0;
  position: relative;
  z-index: 12;
}
#opentebe1 {
  -webkit-appearance: none;
     -moz-appearance: none;
         
  outline: 0;
  border: 1px solid rgba(192, 192, 192, 0.4);
  background-color: rgba(255, 21, 138, 0.8);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
#opentebe1:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
#opentebe1:focus {
  background-color: white;
  width: 300px;
  color: #9966FF;
}
    #opentebe2 {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: #000;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
#opentebe2:hover {
  background-color: #ff0080;
}